<div class="container customContainer">
    <div class="row">
        <form action="/admin/login" method="post">
            <div class="row customCenter">
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputUser" placeholder="Usuario" name="usuario">
                </div>
            </div>
            <div class="row customCenter">
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
                </div>
            </div>
            <div class="row customCenter">
                <button type="submit" class="btn btn-primary col-sm-4">Ingresar</button>            
            </div>
        </form>
            {{#if error}}
                <p class="customCenter">Usuario y/o contraseña incorrectos</p>
            {{/if}} 
    </div>
</div>