
header {
  background-color: #43AA61;
  padding: 16px 0;
}

header h1 {
  color: black;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}