p {
    font-family: Arial;
    font-size: 15px;
}

li {
    font-family:'Times New Roman';
    font-size: 15px;
}

.centrado {
    text-align: center;
}

#contacto, #cabecera{
    background-color: beige;
}