.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.contenedor {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid #43AA61;
  margin-bottom: 20px;
  margin-right: 2%;
}
  
.productos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}