<div class="row" style="margin-top: 20px;">
    <div class="col-6 offset-3">
        <h3 class="text-center">Agregar una nueva novedad</h3>
        <form action="/novedades/novedades/agregar" method="post">
            <div class="mb-3 row">
                <textarea type="text" class="form-control" placeholder="Titulo" name="titulo"></textarea>
            </div>
            <div class="mb-3 row">
                <textarea type="text" class="form-control" placeholder="SubTitulo" name="subtitulo"></textarea>
            </div>
            <div class="mb-3 row">
                <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo" style="min-height: 130px;"></textarea>
            </div>
            <div class="mb-3 row">
                <input type="button" class="btn btn-primary col-4" value="Volver" style="margin-left: 2px" onclick="history.back()">
                <button type="submit" class="btn btn-primary col-4" style="margin-left: 160px">Guardar</button>
            </div>
        </form>
        {{#if error}}
            <h5>{{ message }}</h5>
        {{/if}} 
    </div>
</div>